<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
        <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div th:insert="~{navbar.html}"></div>
        </div>
        <div class="container mt-3" layout:fragment="siteContent">

        </div>
    </body>
</html>
