<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/main_layout.html">
    <div layout:fragment="siteContent">
        <div class="row">
            <div th:each="reqs : ${appRequestList}" class="col-sm-6 mb-3 mb-sm-0 bg-white" >
                <div class="card mb-3 bg-light">
                    <div class="card-body">
                        <h5>
                            <span th:text="${reqs.handled==false ? '*(New) ' : '' }"
                                  th:style = "${reqs.handled==false ? 'color:red' : 'color:black' }"></span>
                            <span th:text="'Request from ' + ${reqs.getUserName()}"></span>
                        </h5>
                        <p th:text="'Course: ' + ${reqs.getCourseName()}" class="card-text"> </p>
                        <p th:text="${reqs.getCommentary()}" class="card-text"></p>
                        <h6>
                            <span th:text="'Phone: ' + ${reqs.getPhone()}"
                                  class="text mb-2 text-black">
                            </span>
                            <a th:href="${'/details/'+reqs.getId()}"
                               class="text-primary text-decoration-none ms-3">
                                Details
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
